
  @import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
    font-family:'Staatliches', cursive;;
    margin: 0;
    padding: 0;
    color: white;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1E1E1E;
    
}
.main{
    flex-direction: row;
    }   
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}
h2{
font-family: 'IBM Plex Sans', sans-serif;

font: size 16pt;
font-weight: 100;
color: #E1E1E6;


}
h3{
   
    font-family: 'IBM Plex Sans', sans-serif;

    font-size: 16pt;
    font-weight: -200;
    color:#E1E1E6 ;
}
#text{
    font-size:60pt;
    font-weight: 100;
}
#bora{
    margin-top: 100px;
    gap: 80px;
    color: #C6ADFF;
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 15px;
    background-color: #202024;
    
}

#container{
    height: 500px;
    width: 500px;
    background-color: white;
    margin-left: 250px;
    border-radius: 7.1px;
    flex-direction: row;
    
}
